<p style="color: green"><%= notice %></p>
<% content_for :page_title, @post.title %>
<section>
  <h1><%= @post.title %></h1>
  <h5><%= @post.published_at %></h5>

  <br/><br/>

  <div class="col">
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-primary' %>
    <%= link_to "Delete", @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
  </div>
</section>

<hr/><br/>

<section>
  <%= @post.content %>
</section>

<br/>
<hr/><br/>

<div>
  <%= link_to "Back", posts_path, class: "btn btn-secondary" %>
</div>

<br>
